body{
    background-color:aquamarine;
}

h1{
    text-align: center;
}

footer{
    text-align: center;
    margin: 0 10px;
}

p{
    text-align: center;
}

.pic{
    display: block;
    max-width: 100%;
    border-radius: 5px;
    margin: 40px auto;
}